
 <head>
<style>
    #AK{
        padding-left : 550px;
    }
</style>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        apcakare
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- APP CSS -->
    <link rel="stylesheet" href="../static/grid.css">
    <link rel="stylesheet" href="../static/app.css">

 </head>
 <body>
 <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="/" class="logo">
                    <i class='bx bxs-donate-heart bx-tada main-color'></i>apc<span class="main-color">AK</span>are
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#districts">Districts</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="https://forms.gle/W2aNphR9fFh3NJkm8">Feedback</a></li>
                    <li><a href="https://forms.gle/EaKuvxhb1k2QFAVw9">Recruitment</a></li>

                   <!-- <li>
                        <a href="#" class="btn btn-hover">
                            <span>Sign in</span>
                        </a>
                    </li>-->
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->
 </body>

{% block content %}
{% endblock %}

    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bxs-donate-heart bx-tada main-color'></i>apc<span class="main-color">AK</span>are
                        </a>
                        <p>
AK team strives to become an official social startup by the end of the year. Be a part of our incredible journey.
Contribute on our first step for a small change and  help us make it a big one.
                        </p>
                        <div class="social-list">
                            <a href="https://www.facebook.com/APCAKARE" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="https://twitter.com/apcakare" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/apcakare/" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="mailto:apcakare@gmail.com" class="social-item">
                                <i class="bx bx-mail-send"></i>
                            </a>
                           <!-- <a href="" class="social-item">
                                <i class="bx bxl-linkedin"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row" id="AK">
                        <div class="col-3 col-md-6 col-sm-6" >
                            <div class="content" >
                                <p><b>AK</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/contactus">Contact</a></li>
                                    <li><a href="https://forms.gle/W2aNphR9fFh3NJkm8">Feedback</a></li>
                                    <li><a href="https://forms.gle/EaKuvxhb1k2QFAVw9">Recruitment</a></li>
                                    <li><a href="https://www.apcakare.com">Main Website</a></li>

                                </ul>
                            </div>
                        </div>
                       <!-- <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Bla</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Collaborations</a></li>
                                    <li><a href="#">Requests</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="">Feedback</a></li>
                                    <li><a href="/contactus">Contact us</a></li>
                                </ul>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        Copyright 2021 <a href="https://www.youtube.com/channel/UCnNgtK4tGlWcceXVzoyTg8Q" target="_blank">
            apcakare.org</a>
    </div>
    <!-- END COPYRIGHT SECTION -->

    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="../static/app.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    </div>



</body>