	<head>
    <title>guntur</title>
    <center>
    <h1>Guntur</h1>







	<div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Today's update</h2>
            <h4 class="text-center"><em>Total: {{guntur|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>

                        <th>number</th>
                        <th>user id</th>
                        <th>n1</th>
                        <th>n2</th>
                        <th>n3</th>
                        <th>n4</th>
                        <th>n5</th>
                        <th>n6</th>
                        <th>n7</th>
                        <th>n8</th>
                        <th>n9</th>
                        <th>n10</th>
                        <th>n11</th>
                        <th>n12</th>
                        <th>n13</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in guntur %}
                        <tr>
                            <td>{{m.num}}</td>
                            <td>{{m.userid}}</td>
                            <td>{{m.n1}}</td>
                            <td>{{m.n2}}</td>
                            <td>{{m.n3}}</td>
                            <td>{{m.n4}}</td>
							<td>{{m.n5}}</td>
							<td>{{m.n6}}</td>
							<td>{{m.n7}}</td>
							<td>{{mg.n8}}</td>
							<td>{{m.n9}}</td>
							<td>{{m.n10}}</td>
							<td>{{m.n11}}</td>
                            <td>{{m.n12}}</td>
                            <td>{{m.n13}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    </center>
    </head>
